@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>The forest is dark, letting just enough moonlight in for you to see the trail ahead of you. The trees are enormous, stretching far above your head, and they rustle softly in the wind.
    You have been walking for some time now, listening to the sounds of the forest, when you come across a little man with a little pack on his back and a silver knife strapped to his leg.</p>
    <p>You:</p>
    <form method="post">
        <div class="form-group">
            <input type="radio" id="forestChoice1" value="Say hello">
            <label>Say hello</label>
            <br />
            <input type="radio" id="forestChoice1" value="Attack" />
            <label>Attack</label>
        </div>
        <input type="submit" value="Next"/>
    </form>
}
