@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Choose a Game</h1>
</div>
<div class="col-3">
    <a asp-controller="SpookyForest" asp-action="Index">
        <img src="~/lib/forest-trees-fog-foggy-5049.jpg" alt="Photo by Jaymantri from Pexels" class="img-thumbnail" />
        <h3>Explore the Spooky Forest</h3>
    </a>
    <p>
        A short exploration game. What will you see? Who will you meet? What will you become?
    </p>
</div>
