@{
    ViewData["Title"] = "Home Page";

}
@model List<Liftoff_ChooseYourOwnAdventure.Models.Game>

<div class="text-center">
    <h1 class="display-4">Choose a Game</h1>
</div>
@foreach (var game in @Model)
{
    <div class="col-3">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/lib/forest-trees-fog-foggy-5049.jpg" alt="Photo by Jaymantri from Pexels" class="img-thumbnail" />
            <h3>@game.Title</h3>
        </a>
        <p>
            @game.Description
        </p>
    </div>
}

