@model List<Liftoff_ChooseYourOwnAdventure.Models.Storyboard>

    <audio controls>
        <source src="~/audio/ftus_forest_ambience_wet_misty_damp_drips_birds_crows_swallows_spring_cyprus_629.mp3" type="audio/mp3" />
        Your browser does not support the audio element.
    </audio>


<p>
    The forest is dark, letting just enough moonlight in for you to see the trail ahead of you. The trees are enormous, stretching far above your head, and they rustle softly in the wind.
    You have been walking for some time now, listening to the sounds of the forest, when you come across a little man with a little pack on his back and a silver knife strapped to his leg.
</p>
<p>You:</p>
<form asp-controller="Game" asp-action="Index" method="post">
    <div class="form-group">
        <input type="radio" name="id" id="id" value="@Model[0].NextStoryboardID1">
        <label>@Model[0].Option1</label>
        <br />
        <input type="radio" name="id" id="id" value="@Model[0].NextStoryboardID2" />
        <label>@Model[0].Option2</label>
    </div>
    <input type="submit" value="Next" />
</form>

<footer>
    <p>Sound effects obtained from <a href="https://www.zapsplat.com/">https://www.zapsplat.com/</a></p>
</footer>
